<a href="https://colab.research.google.com/github/zzeo0/python0/blob/main/py_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CH1. 파이썬 문법
## 자료형
**숫자형**


* 정수 : 123,456,0,-30
* 실수 : 12.345, -987.65, 0.7e
* 8진수 : 0o765
* 16진수 : 0x0D, 0x0A, 0xFF

**변수**
* 문자 또는 밑줄(_kim, alpha)
* 대소문자 구분(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(A-z, 0-9,_)\
 ex) sun_9, Alpha, s9n)
* 파이썬 키워드 (print...)


**표기법**
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : MyName

In [12]:
a = 10
b = 20
f="10"
c = a + b
print(a,b,c,f)

10 20 30 10

In [11]:
a=10
b=20 #주석
c="10"
d="20"
print(a+b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
<class 'int'>
<class 'str'>
1020
10 20

In [13]:
# 나눗셈 
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 3 1

In [15]:
# 곱셈
a = 10
b = 3
c = a * b # 곱하기
d = a ** b # 제곱
print(c,d)

30 1000

#### 문자열
1. 큰따옴표 : " Suil Do"
2. 작은 따옴표 : 'Suil Do'
3. 큰따옴표 3개 : """대한민국"""
4. 작은 따옴표 : '''대한민국'''
5. "동해물과 백두산이 마르고 닳도록 Kim\'s"

In [17]:
# 변수
MyName="Do Su Il"
my_name="도수일"
_my_name="korea"
MYNAME="코리아"
my2name="dododo"
# 2myname="숫자먼저"
# my-name ="마이너스"
# my name="스페이스"
myName1=1234
myName2="1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

***변수할당***

In [18]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [24]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)
c,s,c = "딸기","포도","바나나"
print(c,s,c)

딸기
포도
바나나
바나나 포도 바나나

In [27]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [30]:
x = "Life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)

Life is beautiful!
Lifeisbeautiful!

In [32]:
a=1
b=2
c=3
print(a+b+c)
print(a,b,c)

6
1 2 3

In [33]:
a='1'
b='2'
c='3'
print(a+b+c)
print(a,b,c)

123
1 2 3

데이터 바꾸기

In [50]:
a = 1; b = 2
a,b = b,a
print(a,b)

2 1

In [47]:
b = 2; c = 3
# c = (b=b+c) # error

In [38]:
a=1;b=2;c=3
f = a + b + \
c
print(f)

6

In [41]:
# len()

a="123456"
b=[2,3,4,5]
print(len(a))
print(len(b))

6
4

#### 계산기

In [45]:
a = 100
b = 200
result = a+b
print(a,'+',b,'=',result)
result = a-b
print(a,'-',b,'=',result)
result = a/b
print(a,'/',b,'=',result)
result = a*b
print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [54]:
a="1234"
b=5678
c=int(a)+ b
print(c)

6912

In [20]:
# 계산기 2
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 / num2
result4 = num1 * num2
print(num1,'+',num2,'=',result1)
print(num1,'-',num2,'=',result2)
print(num1,'/',num2,'=',result3)
print(num1,'*',num2,'=',result4)

숫자입력1: 1
숫자입력2: 2
1 + 2 = 3
1 - 2 = -1
1 / 2 = 0.5
1 * 2 = 2

In [19]:
#자기이름,전화번호,택배(g)X100

n1=input("이름: ")
n2=input("전화번호: ")
n3=int(input("택배(g)x100 : "))
n4= n3*100

print("이름은 "+(n1)+"입니다.")
print("전화번호는"+(n2)+ "입니다.")
print("택배"+str(n3)+"(g)x100은 "+str(n4)+" 입니다.")

이름: 도수일
전화번호: 010 1234 5678
택배(g)x100 : 3
이름은 도수일입니다.
전화번호는010 1234 5678입니다.
택배3(g)x100은 300 입니다.