<a href="https://colab.research.google.com/github/zzeo0/python/blob/main/py_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CH1. 파이썬 문법
## 자료형
**숫자형**


* 정수 : 123,456,0,-30
* 실수 : 12.345, -987.65, 0.7e
* 8진수 : 0o765
* 16진수 : 0x0D, 0x0A, 0xFF

**변수**
* 문자 또는 밑줄(_kim, alpha)
* 대소문자 구분(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(A-z, 0-9,_)\
 ex) sun_9, Alpha, s9n)
* 파이썬 키워드 (print...)


**표기법**
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : MyName

In [ ]:
a = 10
b = 20
f="10"
c = a + b
print(a,b,c,f)

10 20 30 10

In [ ]:
a=10
b=20 #주석
c="10"
d="20"
print(a+b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
# 나눗셈 
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 3 1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b # 곱하기
d = a ** b # 제곱
print(c,d)

30 1000

#### 문자열
1. 큰따옴표 : " Suil Do"
2. 작은 따옴표 : 'Suil Do'
3. 큰따옴표 3개 : """대한민국"""
4. 작은 따옴표 : '''대한민국'''
5. "동해물과 백두산이 마르고 닳도록 Kim\'s"

In [ ]:
# 변수
MyName="Do Su Il"
my_name="도수일"
_my_name="korea"
MYNAME="코리아"
my2name="dododo"
# 2myname="숫자먼저"
# my-name ="마이너스"
# my name="스페이스"
myName1=1234
myName2="1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

***변수할당***

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)
c,s,c = "딸기","포도","바나나"
print(c,s,c)

딸기
포도
바나나
바나나 포도 바나나

In [ ]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)

Life is beautiful!
Lifeisbeautiful!

In [ ]:
a=1
b=2
c=3
print(a+b+c)
print(a,b,c)

6
1 2 3

In [ ]:
a='1'
b='2'
c='3'
print(a+b+c)
print(a,b,c)

123
1 2 3

데이터 바꾸기

In [ ]:
a = 1; b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
b = 2; c = 3
# c = (b=b+c) # error

In [ ]:
a=1;b=2;c=3
f = a + b + \
c
print(f)

6

In [ ]:
# len()

a="123456"
b=[2,3,4,5]
print(len(a))
print(len(b))

6
4

#### 계산기

In [ ]:
a = 100
b = 200
result = a+b
print(a,'+',b,'=',result)
result = a-b
print(a,'-',b,'=',result)
result = a/b
print(a,'/',b,'=',result)
result = a*b
print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a="1234"
b=5678
c=int(a)+ b
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 / num2
result4 = num1 * num2
print(num1,'+',num2,'=',result1)
print(num1,'-',num2,'=',result2)
print(num1,'/',num2,'=',result3)
print(num1,'*',num2,'=',result4)

숫자입력1: 1
숫자입력2: 2
1 + 2 = 3
1 - 2 = -1
1 / 2 = 0.5
1 * 2 = 2

In [ ]:
#자기이름,전화번호,택배(g)X100

n1=input("이름: ")
n2=input("전화번호: ")
n3=int(input("택배(g)x100 : "))
n4= n3*100

print("이름은 "+(n1)+"입니다.")
print("전화번호는"+(n2)+ "입니다.")
print("택배"+str(n3)+"(g)x100은 "+str(n4)+" 입니다.")

이름: 도수일
전화번호: 010 1234 5678
택배(g)x100 : 3
이름은 도수일입니다.
전화번호는010 1234 5678입니다.
택배3(g)x100은 300 입니다.

#CH2. 서식 출력

In [ ]:
print("%d"%123)
print("%5d"%123)
print("%05d"%123)

print("%f" %123.45)
print("%7.1f"%123.45)
print("%7.3f"%123.45)

print("%c"%"1")
print("%s"%"가나다라")
print("%6s"%"가나다라")
print("%6s"%"abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

### 순서 지정 기능 : format

In [ ]:
print("{0:d}{1:5d} {2:05d}".format(123,456,789))

123  456 00789

In [ ]:
print("{2:d}{1:5d} {0:05d}".format(123,456,789))

789  456 00123

#### 서식 출력

In [ ]:
print("\n줄 바꿈 명령 \n연습 입니다.")

줄 바꿈 명령
연습 입니다.

In [ ]:
print("\t탭키 명령 \t연습입니다.")

	탭키 명령 	연습입니다.

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과1")
print("따음표 글자가 \'강조\'되는 효과2")
print("역슬레시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \" \\ \' @를 그대로 출력")

따옴표 글자가 "강조"되는 효과1
따음표 글자가 '강조'되는 효과2
역슬레시 3개를 출력하려면 \\\ 6개
\n \t \" \\ \' @를 그대로 출력

#### 관계 연산자자

In [ ]:
a,b=10,20
print(a==b,a!=b,a>=b,a<=b,a>b,a<b)

False True False True False True

In [ ]:
#### 논논리 연산자 and,or,not

In [ ]:
a=95
print((a>100) and (a<200)) #100<a<200
print((a<100)or(a>200))    #a<100,a>200
print(not(a==100)) # a<=99,a>=101

False
True
True

In [ ]:
if(10):
    print("참이면 실행되어 보임")
if(0):
    print("거짓이면 안보임")

참이면 실행되어 보임

### 퀴즈2 //몫 % 나머지 int(input("입력")) 
지폐 금액입력 후 동전으로 교환시 (500원,100원,50원,10원)
money,c500,c100,c50,c10

500원 : ?개
100원 : ?개
50원 : ?개
10원 : ?개

In [ ]:
money=int(input("지폐 금액을 입력하세요.")) ##직접 만든 문제
c500=money//500
c100=money//100
c50=money//50
c10=money//10
a=money%500
b=money%100
c=money%50
d=money%10

print("500원 :{}개\n100원 :{}개\n50원 :{}개\n10원 :{}개 ".format(c500,c100,c50,c10,))
print("500원 나머지 :{}개\n100원 나머지 :{}개\n 50원 나머지 :{}개\n 10원 나머지 :{}개".format(a,b,c,d))

지폐 금액을 입력하세요.3029
500원 :6개
100원 :30개
50원 :60개
10원 :302개
500원 나머지 :29개
100원 나머지 :29개
 50원 나머지 :29개
 10원 나머지 :9개

In [ ]:
money,c500,c100,c50,c10=0,0,0,0,0 ## 함께 만든 문제
money=int(input("동전으로 교환할 돈은? :"))
temp=money
c500 =money//500 #몫
money %= money % 500 #money %500
c100= money//100
money %=100
c10=money//10
money %=10 #1~9
print("입력받은 돈은 %d" %temp)
print("500원 동전 :%d "%c500)
print("100원 동전 :%d "%c100)
print("50원 동전 :%d "%c50)
print("10원 동전 :%d "%c10)
print("나머지 잔돈 :%d "%money)

동전으로 교환할 돈은? :2532
입력받은 돈은 2532
500원 동전 :5
100원 동전 :0
50원 동전 :0
10원 동전 :0
나머지 잔돈 :4

####조건문

In [ ]:
a=50
if(a <100):
  print("100보다 작으면 참")
  print("거짓이면 이문장은 보이지 않음")
print("프로그램 끝")

100보다 작으면 참
거짓이면 이문장은 보이지 않음
프로그램 끝

In [ ]:
a=50
if(a<100):
  print("참 : 100보다 작음")
else :
    print("거짓 : 조건보다 크면")
print("프로그램 끝")

참 : 100보다 작음
프로그램 끝

In [ ]:
#홀짝 구분
a=int(input("숫자 입력 : "))
b= a%2
if(b==0) :
  print("짝수 입니다.")
else : 
  print("홀수 입니다.")

숫자 입력 : 200
짝수 입니다.

In [ ]:
a = int(input("숫자입력 : "))
if(a > 50):
  if(a < 100):
    print("50 < a < 100")
  else:
    print("a > 100")
else:
  if(a > 25): 
   print("25< a < 50")
  else:
    print("a < 25")

숫자입력 : 20
a < 25

In [ ]:
fruit = ['사과','배','샤인머스켓','바나나']
fruit.append('망고')
if '망고' in fruit :
  print("딸기가 있습니다.") 
print(fruit)

딸기가 있습니다.
['사과', '배', '샤인머스켓', '바나나', '망고']

In [ ]:
for i in range(1,3,1): #시작,끝값+1,증가
  print("%d 안녕하세요."%i)
print("환영합니다.")

1 안녕하세요.
2 안녕하세요.
환영합니다.

In [ ]:
import random
num = []
for i in range(0,6):
  num.append(random.randrange(1,46))
print("생성 리스트",num)

생성 리스트 [22, 41, 11, 40, 24, 28]

In [ ]:
for i in range(1,9,1):
  print("%d"% i,end='\t')
print("\n")
for j in range(1,9,1):
  print("%d"% j,end='\t')

1	2	3	4	5	6	7	8

1	2	3	4	5	6	7	8

In [ ]:
sum=0
for i in range(1,11,1):
  sum = sum + i
print("1부터10까지의 합: %d"%sum)

1부터10까지의 합: 55

In [ ]:
sum,num=0,0
num = int(input("숫자입력 : "))
for i in  range(1,num+1,1):
  sum = sum + i
print("1~n까지의 합 : %d"%sum)

숫자입력 : 1000
1~n까지의 합 : 500500

In [ ]:
i,j=2,0
for j in range(1,10):
  print("%d*%d=%2d"%(i,j,i*j))

2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [ ]:
i,j=0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d*%d=%2d"%(i,j,i*j))
  print("")

2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

3*1= 3
3*2= 6
3*3= 9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

4*1= 4
4*2= 8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

5*1= 5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

6*1= 6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

7*1= 7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

8*1= 8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

9*1= 9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

###Quiz3 구구단을 만들고 2,3,4,5 

줄바꿔서 6,7,8,9을 출력하시오.

In [ ]:
for i in range(1,10):
  for j in range(2,6):
    print("%d x %d = %2d" % (j,i,i*j), end="\t")
  print("")
print("\n")
a,b=0,0
for a in range(1,10):
  for b in range(6,10):
    print("%d x %d = %2d" % (b,a,a*b), end="\t")
  print("")

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

#CH.자료형

## 1. 리스트 인텍스,슬라이싱

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
9

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[-1])
print(a[-2])

9
8

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[1:9:2])
print(a[0:9:2])

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[:4])
print(a[5:])

[1, 2, 3, 4]
[6, 7, 8, 9]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(len(a))
print(len(a)-1)

9
8

In [ ]:
b=[1,2,3,4,5,6]
b[0]="apple"
b[1]=99
b[5]=[1,2,3]
print(b)

['apple', 99, 3, 4, 5, [1, 2, 3]]

### list add

In [ ]:
a =[1,2,3]
b =[4,5,6]
c=a+b
print(a+b)
print(c)
print(c*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### 함수 이용

In [ ]:
k = ["a","b","c","d","c"]
k.remove("c")#해당 요소값 삭제
print(k)
k.append("f")#맨뒤에 추가
print(k)

['a', 'b', 'd', 'c']
['a', 'b', 'd', 'c', 'f']

In [ ]:
k = [1,2,3,4,5]
k.remove(3)#해당 요소값 삭제
print(k)
k.append(6)#맨뒤에 추가
print(k)

[1, 2, 4, 5]
[1, 2, 4, 5, 6]

In [ ]:
j= "God is love!"
print(j[:3])
print(j[4:6])
print(j[7:])

God
is
love!

In [ ]:
j= " God is love! "
print(j.upper())#대문자
print(j.lower())#소문자
print(j.strip())#공백 제거

 GOD IS LOVE!
 god is love!
God is love!

In [ ]:
a = "apple,mango,banana"
print(a.split(","))

['apple', 'mango', 'banana']

In [ ]:
a = ["apple","banana","cherry"]
a.append("Orange")#맨 뒷쪽에 추가
print(a)

['apple', 'banana', 'cherry', 'Orange']

In [ ]:
a = ["apple","banana","cherry"]
a.insert(1,"Orange")#지정한 곳에 삽입
print(a)

['apple', 'Orange', 'banana', 'cherry']

In [ ]:
a = ["apple","banana","cherry"]
a.remove("banana")#지정한 값 제거
print(a)

['apple', 'cherry']

In [ ]:
a = ["apple","banana","cherry"]
a.pop()#맨뒤 지움
print(a)
a.pop(1)
print(a)

['apple', 'banana']
['apple']

In [ ]:
fruit=["사과","배","오렌지"]
for i in fruit:
  print(i)

사과
배
오렌지

In [ ]:
fruit = ["감","빔","대추"]
for i in range(len(fruit)):
  print(fruit)

['감', '빔', '대추']
['감', '빔', '대추']
['감', '빔', '대추']

### SORT

In [ ]:
a = [7,5,3,8,2,0,1,4,6,9,]
a.sort()#정렬
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort(reverse= True) #반대 정렬
print(a)
a.sort()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
fruit = ["Kiwi","apple","ORange","banana"]
fruit.sort()# 대소문자 구분
print(fruit)
fruit.sort(key=str.lower)#대소문자 구분없이
print(fruit)
fruit.reverse()
print(fruit)

['Kiwi', 'ORange', 'apple', 'banana']
['apple', 'banana', 'Kiwi', 'ORange']
['ORange', 'Kiwi', 'banana', 'apple']

In [ ]:
#List 복사
fruit = ["Kiwi","apple","ORange","banana"]
myList = fruit.copy()#복사방법1
print(myList)
cyList = list(fruit)#복사방법2
print(cyList)

['Kiwi', 'apple', 'ORange', 'banana']
['Kiwi', 'apple', 'ORange', 'banana']

## 2.Tuple 튜플

In [ ]:
l = [1,2,3]
t = (5,6,7)
print(type(l))
print(type(t))

<class 'list'>
<class 'tuple'>

In [ ]:
l = [1,2,3]
t = (5,6,7)
l[0]=4
print(l)
#t[0]=8 //튜플은 변경 불가
print(t)

[4, 2, 3]
(5, 6, 7)

In [ ]:
f = ("apple","banana","cherry")
print(len(f))

3

In [ ]:
t = ("kiwi")
print(t)
print(type(t))

kiwi
<class 'str'>

In [ ]:
t = ("kiwi",)#튜플로 인식하기 위해 ","필요(1개 일때)
print(t)
print(type(t))

('kiwi',)
<class 'tuple'>

In [ ]:
f = ("banana","apple","kiwi","cherry","Orange")
print(f[:4])
print(f[3:])

('banana', 'apple', 'kiwi', 'cherry')
('cherry', 'Orange')

In [ ]:
f = ("banana","apple","kiwi","cherry","Orange")
if "apple" in f:
  print("Yes")
else:
  print("No")

Yes

### Tuple <-> List

In [ ]:
#튜플에 추가하는 방법
t = ("apple","banana","cherry")
y = list(t) #튜플을 리스트로 변환
print(type(y)) 
y.append("Orange")
t = tuple(y) #리스트를 튜플로 변환
print(t)

<class 'list'>
('apple', 'banana', 'cherry', 'Orange')
<class 'tuple'>

In [ ]:
#List -> Tuple
company = ["LG","SK","Apple"]
t = tuple(company)
print(company)#리스트[]
print(t)#튜플()

['LG', 'SK', 'Apple']
('LG', 'SK', 'Apple')

In [ ]:
c = ("LG","SK","Apple")
d = ("Samsung",)
c += d # c = c + d
print(c)

('LG', 'SK', 'Apple', 'Samsung')

In [ ]:
t = ("감","밤","대추")
l= list(t)
l.remove("대추")
t = tuple(l)
print(t)

('감', '밤')

## 3.Dict 사전자료형

In [ ]:
d = {
      "a":1,
      "b":2,
      "c":3,
}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [ ]:
d = {
      "a":1,
      "b":2,
      "c":3,
}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
car = {
    "maker" : "Hyundai",
    "model" : "Pony2",
    "year"  : 1994
}
print(car)
print(len(car))
car["year"] = 2000
print(car)
car["color"] = "Bule"
print(car)
#print(car["mfg"]) 없는 값 찍으면 에러

{'maker': 'Hyundai', 'model': 'Pony2', 'year': 1994}
3
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000}
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000, 'color': 'Bule'}

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year"  : 2023
}
car.pop("model")# 해당 키값을 삭제
print(car)

{'maker': 'BMW', 'year': 2023}

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year"  : 2023
}
car.popitem()# 맨뒤 삭제
print(car)

{'maker': 'BMW', 'model': 'GT'}

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year"  : 2023
}
car.clear() # 비움
print(car)
car["maker"] = "KIA"
print(car)

{}
{'maker': 'KIA'}

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year"  : 2023
}
del car # 안에 있는 값뿐만아니라 방까지 삭제
#print(car) 방까지 삭제 되었기에 출력시 오류

Loop

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year"  : 2023
}
for x in car:
  print(car[x])

BMW
i4
2023

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year"  : 2023
}
for x in car.keys():#키값 만
  print(x)

maker
model
year

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year"  : 2023
}
for x in car.values():
  print(x)

BMW
i4
2023

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year"  : 2023
}
for x,y in car.items():
  print(x,y)

maker BMW
model i4
year 2023

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year"  : 2023
}
myCar = car.copy()
print(myCar)

{'maker': 'BMW', 'model': 'i4', 'year': 2023}

In [ ]:
food = {
    "brand" : "Lotte",
    "model" : "Ice Cream",
    "Price" :  2000
}
myFood = dict(food)
print(myFood)

{'brand': 'Lotte', 'model': 'Ice Cream', 'Price': 2000}

In [ ]:
name1 = {"name" : "김삿갓", "year" : 1900}
name2 = {"name" : "홍길동", "year" : 1800}
name3 = {"name" : "김유진", "year" : 2000}
family = {
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}
print(family)

{'name1': {'name': '김삿갓', 'year': 1900}, 'name2': {'name': '홍길동', 'year': 1800}, 'name3': {'name': '김유진', 'year': 2000}}

## Quiz
이름과 전화번호를 입력 받아 사전
자료형으로 저장하세요(3)명

In [3]:
a = []
for i in range(1, 4):
    b = input("이름 : ")
    c = input("전화번호 : ")
    a.append({'이름': b, '전화번호': c})

for person in a:
    for key, value in person.items():
        print(key, value)
    print()

이름 : 도수일
전화번호 : 010 1234 5678
이름 : 남도일
전화번호 : 010 5678 1234
이름 :
전화번호 :
이름 도수일
전화번호 010 1234 5678

이름 남도일
전화번호 010 5678 1234

이름
전화번호

###CH4 조건문, 반복문

##1조건문

In [ ]:
#중첩 if문
a= int(input("숫자입력: "))

if a > 50:
  if a < 100:
    print("50보다 크고 100보다 작군요.")
  else : 
    print("와~~ 100보다 크군요.")
else : 
   print("에고 50보다 작군요.")

숫자입력: 45
에고 50보다 작군요.

In [ ]:
# 성적처리
score = int(input("정수를 입력해 주세요 : "))
if (score > 100):
  print("0~100점까지의 숫자로 입력하세요.")
else:
  if(score >= 90):
    print("A", end=' ')
  elif(score >= 80):
    print("B", end=' ')
  elif(score >= 70):
    print("C", end=' ')
  elif(score >= 60):
    print("D", end=' ')
  else:
    print("F", end=' ')
  print("학점, 점수: %d" %score)

정수를 입력해 주세요 : 80
B 학점, 점수: 80

In [ ]:
import random

numbers = []
for num in range(0,10):
  numbers.append(random.randrange(0,10))

print("생성된 리스트", numbers)

for num in range(0,10):
  if num not in numbers:
    print("숫자 %d는 리스트에 없습니다." %num)
  else:
    print("숫자 %d는 리스트에 있습니다." %num)

생성된 리스트 [4, 9, 3, 0, 9, 0, 8, 6, 3, 0]
숫자 0는 리스트에 있습니다.
숫자 1는 리스트에 없습니다.
숫자 2는 리스트에 없습니다.
숫자 3는 리스트에 있습니다.
숫자 4는 리스트에 있습니다.
숫자 5는 리스트에 없습니다.
숫자 6는 리스트에 있습니다.
숫자 7는 리스트에 없습니다.
숫자 8는 리스트에 있습니다.
숫자 9는 리스트에 있습니다.

In [ ]:
#조건문 이용
select, anwser,num1, num2,numStr = 0,0,0,0,""
select = int(input("1.입력한 수식 계산 2.두 수의 합 : "))

if select == 1:
  numStr = input("수식을 입력하세요(1+2) : ")
  answer = eval(numStr) #1+2
  print(" %s 결과는 %5.1f입니다. "%(numStr,answer))
elif select==2:
  num1=int(input("첫번째 숫자를 입력하세요: "))
  num2=int(input("두번째 숫자를 입력하세요: "))
  for k in range(num1, num2+1):
    answer = answer + k
  print("%d+...+%d는 %d입니다." %(num1, num2, answer))
else:
  print("1또는 2만 입력해야합니다.")

1.입력한 수식 계산 2.두 수의 합 : 1
수식을 입력하세요(1+2) : 3
 3 결과는   3.0입니다.

2 반복문 for&while

In [ ]:
for i in range(0,3,1):
  print("안녕! %d"%i)

안녕! 0
안녕! 1
안녕! 2

In [ ]:
for i in [0,3,1]:
  print("안녕!%d"%i)

안녕!0
안녕!3
안녕!1

In [ ]:
for i in range(0,2,1):
  for j in range(0,2,1):
    for k in range(0,3,1):
      print("i:%d, j:%d, k:%d" %(i,j,k))

i:0, j:0, k:0
i:0, j:0, k:1
i:0, j:0, k:2
i:0, j:1, k:0
i:0, j:1, k:1
i:0, j:1, k:2
i:1, j:0, k:0
i:1, j:0, k:1
i:1, j:0, k:2
i:1, j:1, k:0
i:1, j:1, k:1
i:1, j:1, k:2

In [ ]:
i,j = 0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d x %d = %2d" %(i,j,i*j), end='\t')
  print(" ")
print("\n")

2 x 1 =  2	2 x 2 =  4	2 x 3 =  6	2 x 4 =  8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 =  3	3 x 2 =  6	3 x 3 =  9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 =  4	4 x 2 =  8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36
5 x 1 =  5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45
6 x 1 =  6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54
7 x 1 =  7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63
8 x 1 =  8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72
9 x 1 =  9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

In [ ]:
i = 0
while i<3:
  print("%d : while문" %i)
  i = i+1

0 : while문
1 : while문
2 : while문

####Q : for,while 1부터 10까지 합계를 구하시오

In [ ]:
#while문
i, h = 0,0
i = 1
while i<11:
  h = h + i
  i=i+1

print("1부터 10까지의 합계 : %d" %h)

#for문
i,h = 0,0
for i in range(1,11,1):
  h = h+i
print("1부터 10까지의 합계 : %d" %h)

1부터 10까지의 합계 : 55
1부터 10까지의 합계 : 55

In [ ]:
while True :
  print("무한 루프",end='')
  break

무한 루프

In [ ]:
# break
for i in range(1,100):
  print("for문 %d번 실행" %i)
  break
print("break 빠짐")

for문 1번 실행
break 빠짐

In [ ]:
hap = 0
a,b = 0,0
while True:
  a = int(input("덧셈 첫번째 수 입력: "))
  if a == 0:
   break
  b = int(input("덧셈 두번쨰 수 입력: "))
  hap = a + b
  print("%d + %d = %d" %(a,b,hap))

print("break로 탈출")

덧셈 첫번째 수 입력: 1
덧셈 두번쨰 수 입력: 2
1 + 2 = 3
덧셈 첫번째 수 입력: 2
덧셈 두번쨰 수 입력: 3
2 + 3 = 5
덧셈 첫번째 수 입력: 0
break로 탈출

In [ ]:
# continue
hap,i=0,0
for i in range(1,11):
  if i % 2 == 0:
    print("i:%d" %i)
    continue
  hap += i

print("1~10 합계(2의 배수를 제외): %d" %hap)

i:2
i:4
i:6
i:8
i:10
1~10 합계(2의 배수를 제외): 25

In [ ]:
fruits = ["감","밤","대추"] #시험 나옴
for x in fruits:
  if x == "밤":
    continue
  print(x)

감
대추

In [ ]:
for x in range(6):#시험나옴
  if x == 3: break
  print(x)
else:
  print("끝")

0
1
2

In [ ]:
# pass 에러를 피하기 위해 실행하지 않을 때 사용
for x in [0,1,2]:
  pass

##4.함수

In [ ]:
# 두수를 더하는 함수
def plus(v1,v2):
  result = 0
  result = v1 + v2 
  return result

hap = 0
hap = plus(10,20)
print("1+2 plus() 처리결과는 %d" %hap)
hap = plus(20,30)
print("4+8 plus() 처리결과는 %d" %hap)

10+20 plus() 처리결과는 30
20+30 plus() 처리결과는 50

In [ ]:

# 계산기 코드
def calc(v1,v2,op):
  result = 0
  if op == '+':
    result = v1 + v2
  elif op == '-':
    result = v1 - v2
  elif op == '*':
    result = v1 * v2
  elif op == '/':
    result = v1 / v2
  return result

rst = 0
var1,var2,opr = 0,0,""

opr = input("(+,-,*,/) 입력")
var1 = int(input("1번째 수 입력: "))
var2 = int(input("2번째 수 입력: "))
rst = calc(var1,var2,opr)
print("계산기 %d %s %d = %d" %(var1,opr,var2,rst))

(+,-,*,/) 입력*
1번째 수 입력: 2
2번째 수 입력: 2
계산기 2 * 2 = 4

# Q: 0으로 나누려고 하면 메세지 출력 계산되지 않게, **제곱 연산자 기능 추가(숫자1,연산자,숫자2) 계산기만들기

In [ ]:
while True: 
        num1 = float(input("첫 번째 숫자를 입력하세요: "))
        op = input("연산자를 입력하세요 (+, -, *, /, **): ")
        num2 = float(input("두 번째 숫자를 입력하세요: "))
        
        if op == "+":
            result = num1 + num2
        elif op == "-":
            result = num1 - num2
        elif op == "*":
            result = num1 * num2
        elif op == "/":
            if num2 == 0:
                print("0으로 나눌 수 없습니다.")
                continue
            else:
                result = num1 / num2
        elif op == '**':
            result = num1 ** num2
        else:
            print("잘못된 연산자입니다.")
            continue
        
        print("결과는 {}입니다.".format(result))
        
        answer = input("다시 계산하시겠습니까? (y/n): ")
        if answer == 'n':
            break
        elif answer == 'y':
            continue
        else:
            print("잘못된 입력입니다. 다시 시작하세요.")
            break

첫 번째 숫자를 입력하세요: 2
연산자를 입력하세요 (+, -, *, /, **): **
두 번째 숫자를 입력하세요: 3
결과는 8.0입니다.
다시 계산하시겠습니까? (y/n): y
첫 번째 숫자를 입력하세요: 2
연산자를 입력하세요 (+, -, *, /, **): /
두 번째 숫자를 입력하세요: 0
0으로 나눌 수 없습니다.
첫 번째 숫자를 입력하세요: 2
연산자를 입력하세요 (+, -, *, /, **): /
두 번째 숫자를 입력하세요: 1
결과는 2.0입니다.
다시 계산하시겠습니까? (y/n): n

# ch5 파일 처리
"r"- read, " w"-write, "a"-append,
"x"-create,"t"-text,"b"-binary

In [ ]:
# file read
from google.colab import files
f = open("a.txt",'w',)
f.write("123456")
f.close()
files.download('a.txt')

In [ ]:
#file read
from google.colab import files

f = open("a.txt",'w',)

In [2]:
heart = "\u2665"
space = ' '
n = int(input("숫자입력1 : "))
nn = int(input("숫자입력2 : "))
for i in range(1, n+1):
    print(nn * space * (n-i) + i * heart + nn * space * (n-i))

숫자입력1 : 4
숫자입력2 : 4
            ♥
        ♥♥
    ♥♥♥
♥♥♥♥